// ========== FONTS ========== //
@import "fonts";
// ========== FONTS END ========== //

// ========== EXTENDS ========== //
@import "variables";
// ========== EXTENDS END ========== //

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
	padding-bottom: 20px;
}

h1, h2{
	font-weight: 100;
}

h1{
	margin-bottom: 60px;
}

h2{
	margin-bottom: 30px;
}

p{
	margin-bottom: 30px;
}

.custom-checkbox .custom-control-label::before {
	border: 1px solid #c0c8db;
	background-color: #fff;
}

.navbar-toggler-icon{
	color: #494949;
}

ul{
	margin-bottom: 0;
}

textarea{
	margin-bottom: 70px;
	border-radius: .3rem;
}

input{
	color: #1c1c1c;
}

label{
	margin-bottom: 0;
}

option{
	font-size: 20px;
	color: #435993;
}

a{
	color: #494949;
}

.custom-select-lg{
	height: 55px;
  padding-top: 0px;
	color: #c8c8c8;
	font-size: 24px;
}

.form-control-lg{
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 20px;
}

.form-control-lg_first{
	font-size: 24px;
}

.profile{
	padding-top: 120px;
	background: url(../img/bg.png) no-repeat;
	background-size: contain;
}

.wrapImg{
	margin-top: 60px;
	margin-bottom: 15px;
}

.effect-22,
.effect-23,
.effect-24 {
//  border: 0;
//  padding: 17px 15px 5px;
//  border: 1px solid #ccc;
//  position: relative;
//  background: transparent;
}
//
//.effect-22:focus ~ .focus-bg,
//.has-content.effect-22 ~ .focus-bg {
//  transition: 0.4s;
//  width: 100%;
//  background-color: #ededed;
//}

.effect-22{
	position: relative;
  background: transparent;
}

.effect-22 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 10%;
	font-size: 24px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.effect-22:focus ~ label,
.has-content.effect-22 ~ label {
  top: 0;
  left: 0;
  font-size: 14px;
  transition: 0.3s;
	z-index: 10;
}

@import "media";